In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv("LoansTrainingSet.csv",encoding='iso-8859-1')

C:\Users\skurt\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(3)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0

In [4]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [5]:
df.shape#satır sütun sayıları

(256984, 19)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [7]:
df["Loan Status"].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [8]:
df["Term"].unique()#vade

array(['Short Term', 'Long Term'], dtype=object)

In [9]:
df["Maximum Open Credit"]=df["Maximum Open Credit"].astype(int)

ValueError: invalid literal for int() with base 10: '#VALUE!'

In [10]:
df[df["Maximum Open Credit"] == "#VALUE!"]# burada sütunun typını integera çevirmek istediğimide bu değerden dolayı çevirilemeyeceği uyarısı vardı bu değerden kaç tane olduğunu bulabilmek için bu şekilde

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
184662,b798f46b-e27b-4823-af83-294b1ffc3490,f61890c5-e264-4b0f-a047-9cfa03b9d182,Charged Off,1470,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,$506.34,15.3,26.0,3,0,0,#VALUE!,0.0,0.0
184663,b798f46b-e27b-4823-af83-294b1ffc3490,f61890c5-e264-4b0f-a047-9cfa03b9d182,Charged Off,1470,Short Term,725.0,2 years,Rent,39200.0,Debt Consolidation,$506.34,15.3,26.0,3,0,0,#VALUE!,0.0,0.0
187512,ba8f310d-7688-40e9-aa1c-30237dcaf051,80acb6ec-105f-42e4-bdd0-6c4792b88e71,Charged Off,23897,Long Term,6970.0,7 years,Home Mortgage,49785.0,Home Improvements,"$1,306.86",13.0,NaN,6,0,0,#VALUE!,0.0,0.0
187513,ba8f310d-7688-40e9-aa1c-30237dcaf051,80acb6ec-105f-42e4-bdd0-6c4792b88e71,Charged Off,23897,Long Term,697.0,7 years,Home Mortgage,49785.0,Home Improvements,"$1,306.86",13.0,NaN,6,0,0,#VALUE!,0.0,0.0

In [14]:
df["Maximum Open Credit"]=df["Maximum Open Credit"].astype(int)

In [15]:
df["Maximum Open Credit"].mean()

35723.49133798213

In [13]:
df.loc[df["Maximum Open Credit"]=='#VALUE!', "Maximum Open Credit"] = "35000"# 4 adet '#VALUE!' değerini bu şekilde doldurmak istedim

In [17]:
df["Years in current job"]=df["Years in current job"].str.extract('(\d+)')

In [18]:
df["Years in current job"].unique()

array(['10', '4', '6', '5', nan, '3', '2', '1', '7', '9', '8'],
      dtype=object)

In [19]:
df['Years in current job'].fillna(df['Years in current job'].mode()[0], inplace=True)

In [59]:
df["Years in current job"].unique()

array([10,  4,  6,  5,  3,  2,  1,  7,  9,  8])

In [20]:
df["Years in current job"]=df["Years in current job"].astype(int)

In [21]:
df["Monthly Debt"]=df["Monthly Debt"].str.extract('(\d+)')# digitleri atmak için

In [22]:
df["Monthly Debt"]=df["Monthly Debt"].astype(int)

In [23]:
df["Home Ownership"].unique()

array(['Home Mortgage', 'Own Home', 'Rent', 'HaveMortgage'], dtype=object)

In [24]:
df['Home Ownership'].replace({'Home Mortgage':'Mortgage','HaveMortgage':'Mortgage'},inplace=True)

In [25]:
df["Home Ownership"].unique()

array(['Mortgage', 'Own Home', 'Rent'], dtype=object)

In [29]:
df['Credit Score'].mean()

1251.1160986749135

In [28]:
df["Credit Score"].unique()

array([ 741.,  734.,  747.,  746.,  716., 6640.,   nan,  733.,  742.,
        701.,  744.,  729.,  745.,  728.,  724.,  692.,  739.,  740.,
        607.,  735.,  623.,  750.,  737.,  636.,  736.,  715.,  727.,
        743., 7320.,  751.,  703.,  732.,  707.,  665.,  730.,  717.,
       7180., 6670.,  667.,  748., 7270., 7070.,  738.,  699., 7370.,
        700.,  675.,  725.,  676.,  711., 7060.,  706.,  679.,  705.,
       7410., 7330.,  713.,  673.,  722.,  704.,  656.,  697.,  709.,
        749., 7130.,  726.,  609., 6620.,  693.,  687.,  720.,  712.,
        718.,  708.,  710.,  680., 7440.,  657.,  664.,  714.,  678.,
        685.,  723., 6720.,  672.,  653., 7000.,  719.,  731.,  690.,
       6800.,  671.,  650., 7430.,  696., 6600., 6760.,  721.,  615.,
        662.,  640., 7460.,  677.,  669., 6950.,  612.,  702.,  683.,
        684., 7300.,  698.,  666.,  606.,  674., 7170.,  655.,  625.,
        652., 7470.,  691.,  689., 7010.,  695., 6490.,  682.,  668.,
       6780., 6030.,  603., 7390., 7380.,  686., 7400.,  694.,  670.,
        642., 6920., 7280., 6690.,  661., 7310.,  622.,  635.,  632.,
       6740., 7230., 7420.,  688., 7040., 6890.,  610.,  663.,  658.,
        613., 7210., 7200., 7340., 6880., 7150., 6510.,  651., 7250.,
       7050.,  637., 6980., 7260., 6960., 6790., 6810.,  681., 7100.,
       7360., 7350., 6900.,  616., 7030.,  602., 7080.,  639., 6380.,
        638., 6430., 6710., 6680.,  601., 7480., 7020.,  619., 6840.,
        641., 6450.,  645.,  605.,  631., 6910.,  654., 6480.,  648.,
       6280.,  628., 7120., 7240., 6440., 7510.,  633., 7190., 6550.,
       6370.,  660., 6520., 6500., 6580., 6610., 7500., 7110.,  647.,
       7490.,  624.,  646.,  659., 6130.,  621., 6850., 7160., 7140.,
       7090.,  611.,  618.,  649., 6570., 6250., 6560., 7220.,  643.,
        595., 6990., 7290., 6730.,  591.,  594., 7450.,  644., 6820.,
       6870.,  620., 6240.,  630.,  626., 6940., 6770., 6630., 6700.,
        599., 6270.,  627., 6660.,  614., 6110., 6590., 6360., 6050.,
       6310., 6650., 6530., 6390., 6830., 6930., 5970.,  597., 6750.,
        629.,  604.,  587., 6350.,  593., 6410., 6180.,  634.,  586.,
       6860., 6460., 6400.,  592.,  608., 6220., 6260., 6170.,  617.,
       6970., 6140., 5990., 6200.,  589., 6160., 6420.,  600., 6540.,
       6320., 6470.,  585., 6150., 5940., 6080., 6100., 6210.,  596.,
       6040., 6330., 6190., 6290., 6300., 6230., 5980.,  598., 5950.,
       6000., 5890., 6020., 5870., 6120.,  588.,  590., 6060., 5920.,
       5900., 6090., 5850., 5880., 6340., 6010., 5860., 5930., 6070.,
       5960., 5910.])

In [30]:
df['Credit Score'].fillna(df['Credit Score'].mean(), inplace=True)#float int tipindeki boş değerleri de mean ortalama değer ile dolduruyoruz

In [31]:
df['Annual Income'].fillna(df['Annual Income'].mean(), inplace=True)#yıllık gelir

In [32]:
df['Months since last delinquent']=df['Months since last delinquent'].fillna("0")#gecikme

In [33]:
df["Months since last delinquent"]=df["Months since last delinquent"].astype(int)

In [34]:
df['Bankruptcies'].fillna(df['Bankruptcies'].mean(), inplace=True)#iflas

In [35]:
df['Tax Liens'].fillna(df['Tax Liens'].mean(), inplace=True)#vergi haczi

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  256984 non-null  float64
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  int32
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  256984 non-null  int32
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  int32
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(5), int32(4), int64(4), object(6)
memory usage: 33.3+ MB

In [37]:
df.sample(5)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
174103,ad08124b-42d0-42ab-bc29-c765994eb754,71831f95-36b9-40bd-b745-9e37b2764189,Fully Paid,8609,Short Term,1251.116099,4,Rent,71952.716187,Debt Consolidation,481,6.3,0,8,0,3537,35369,0.0,0.0
63414,3f15b659-8784-45fb-901e-2e48de2878f0,02292492-6884-4d22-9791-b2c63b6923dc,Charged Off,8078,Short Term,6900.000000,3,Mortgage,90873.000000,other,1,13.2,27,9,1,44031,53241,1.0,0.0
222703,dd9ea46e-7cfe-4f58-9b58-419912c198b8,7f1603bc-bc5a-4480-a0a8-219f5981a5a4,Charged Off,28031,Short Term,747.000000,4,Mortgage,118130.000000,Home Improvements,520,21.0,0,7,0,11862,47831,0.0,0.0
212496,d36d8cfc-a354-4ac4-ac8f-f0c7db1c5247,3f924775-b4ee-4268-af2c-af86984b5de0,Charged Off,6489,Short Term,1251.116099,1,Mortgage,71952.716187,Home Improvements,512,24.9,75,8,1,9914,18393,1.0,0.0
29026,1d0e6edf-704d-4c10-abdb-8bf9167ecb7c,e25d2db6-1584-4a95-a901-b5987ea9aaef,Fully Paid,23932,Short Term,703.000000,10,Mortgage,96716.000000,Debt Consolidation,1,21.1,21,10,0,14020,25080,0.0,0.0

In [38]:
df["Loan Status"]=pd.get_dummies(df["Loan Status"],drop_first=True)#iki tür veri var ['Fully Paid', 'Charged Off'] bu sütuna dummies uyguluyoruz

In [39]:
df["Term"]=pd.get_dummies(df["Term"],drop_first=True)# termde aynı şekilde

In [40]:
df["Home Ownership"]=pd.get_dummies(df["Home Ownership"],drop_first=True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  uint8
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  uint8
 5   Credit Score                  256984 non-null  float64
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  uint8
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  int32
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  256984 non-null  int32
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  int32
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(5), int32(4), int64(4), object(3), uint8(3)
memory usage: 28.2+ MB

In [46]:
df = df.drop(columns=['Loan ID','Customer ID','Purpose'],axis=1)

In [47]:
df["Credit Score"]=df["Credit Score"].astype(int)

In [48]:
df["Annual Income"]=df["Annual Income"].astype(int)

In [49]:
df["Years of Credit History"]=df["Years of Credit History"].astype(int)

In [50]:
df["Bankruptcies"]=df["Bankruptcies"].astype(int)

In [51]:
df["Tax Liens"]=df["Tax Liens"].astype(int)

In [60]:
df.sample(3)

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
158354,0,21599,0,701,10,0,69278,1,20,7,14,0,9591,11611,0,0
204138,0,3010,1,741,2,0,49162,530,15,24,16,0,8649,26861,0,0
83242,0,15134,0,701,1,0,51454,600,14,0,12,0,10203,25192,0,0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   256984 non-null  uint8
 1   Current Loan Amount           256984 non-null  int64
 2   Term                          256984 non-null  uint8
 3   Credit Score                  256984 non-null  int32
 4   Years in current job          256984 non-null  int32
 5   Home Ownership                256984 non-null  uint8
 6   Annual Income                 256984 non-null  int32
 7   Monthly Debt                  256984 non-null  int32
 8   Years of Credit History       256984 non-null  int32
 9   Months since last delinquent  256984 non-null  int32
 10  Number of Open Accounts       256984 non-null  int64
 11  Number of Credit Problems     256984 non-null  int64
 12  Current Credit Balance        256984 non-null  int64
 13  Maximum Open Credit           256984 non-null  int32
 14  Bankruptcies                  256984 non-null  int32
 15  Tax Liens                     256984 non-null  int32
dtypes: int32(9), int64(4), uint8(3)
memory usage: 17.4 MB

In [53]:
abs(df.corr()["Loan Status"]).sort_values(ascending=False)

Loan Status                     1.000000
Credit Score                    0.383721
Current Loan Amount             0.269804
Term                            0.183811
Annual Income                   0.061290
Years of Credit History         0.035379
Number of Open Accounts         0.020787
Tax Liens                       0.012590
Number of Credit Problems       0.010179
Current Credit Balance          0.008838
Home Ownership                  0.008300
Maximum Open Credit             0.007921
Years in current job            0.007636
Bankruptcies                    0.001107
Months since last delinquent    0.000343
Monthly Debt                    0.000106
Name: Loan Status, dtype: float64

In [54]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier()
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
from sklearn.naive_bayes import GaussianNB
g=GaussianNB()
from sklearn.naive_bayes import BernoulliNB
b=BernoulliNB()

In [55]:
algorithms=[g,b,k,log,gbc,r,d]
names=["GaussianNB","BernoulliNB","K Nearest","Logistic","GradientBoosting","RandomForest","Decisiom Tree"]

In [56]:
X_train = df.drop("Loan Status", axis=1)
Y_train = df["Loan Status"]
X_test  = df.copy()

In [57]:
def algo_test(X, y, algorithms = algorithms,names = names):
    for i in range(len(algorithms)):
        algorithms[i] = algorithms[i].fit(X,y)
    accuracy= []
    precision= []
    recall= []
    f1= []
    for i in range(len(algorithms)):
        accuracy.append(accuracy_score(y, algorithms[i].predict(X)))
        precision.append(precision_score(y, algorithms[i].predict(X)))
        recall.append(recall_score(y, algorithms[i].predict(X)))
        f1.append(f1_score(y, algorithms[i].predict(X)))
    metrics = pd.DataFrame(columns = ["Accuracy","Precision","Recall","F1"], index = names)
    metrics["Accuracy"] = accuracy
    metrics["Precision"] = precision
    metrics["Recall"] = recall
    metrics["F1"] = f1
    return metrics.sort_values("F1", ascending = False)

In [58]:
algo_test(X_train,Y_train,algorithms)

                  Accuracy  Precision    Recall        F1
RandomForest      1.000000   1.000000  1.000000  1.000000
Decisiom Tree     1.000000   1.000000  1.000000  1.000000
K Nearest         0.814778   0.836396  0.907322  0.870416
GradientBoosting  0.762526   0.760939  0.953045  0.846227
Logistic          0.746299   0.732456  0.992491  0.842873
BernoulliNB       0.685556   0.686431  0.996646  0.812950
GaussianNB        0.452546   0.997534  0.202008  0.335978